@tailwind preflight;
h3 {
  @apply text-2xl;
}
a {
	@apply text-light-blue no-underline;
}
a:visited {
	@apply text-light-blue;
}
a:hover {
	@apply underline;
}
.nav-item {
  @apply flex -mb-px mr-8;
}
.nav-item a {
  @apply no-underline flex items-center py-4 border-b-4 border-transparent;
}
.nav-item a.active {
  @apply border-b-4 border-dark-sky-blue;
}

.content {
  @apply mx-auto;
  @apply pt-10 pb-10;
}
.section {
	color: config('colors.greyish-brown');
}
.section-alternate {
  @apply bg-light-periwinkle;
}
.section-alternate-2 {
  @apply bg-pale-grey;
}
.card {
  @apply max-w-sm rounded overflow-hidden shadow bg-white mb-8;
}

.card-header {
	@apply bg-white p-4 text-2xl;
}

.card-content {
	@apply p-4 bg-grey-light text-2xl;
}
.card-content ol{
	@apply pl-8;
}
.card-content ol li{
	@apply mb-4;
}
.card-footer {
	@apply p-4 bg-grey-dark text-right text-2xl;
}
.card-footer a{
	@apply text-2xl;
}
@tailwind utilities;

.section-alternate h3 {
  text-shadow: 0 1px rgba(0,0,0,0.17);
}

.card {
}
.card h5{
	font-weight: 500;
	color: #34434B;
	text-transform: uppercase;
}
.card-footer a {
	font-weight: medium;
}
.nav {
  border-top: 5px solid config('colors.dark-sky-blue');
}

.hero {
}

.hero h1 {
  font-size: 64px;
  font-weight: bold;
  text-align: center;
  color: #ebf4ff;
  color: config('colors.pale-blue');
  text-shadow: 0 1px 9px rgba(0, 0, 0, 0.32);
  text-shadow: 0 1px 9px config('colors.black-31');
  padding-top: 60px;
}

.hero h2 {
  padding-top: 40px;
  padding-bottom: 60px;
  font-size: 24px;
  font-weight: 500;
  text-align: center;
  color: #ebf4ff;
  color: config('colors.pale-blue');
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
}

.content {
}
